*{
	margin:0;
    padding:0;
}  
h1{ text-align:center;
    -webkit-box-orient: vertical;
    -webkit-box-aling:center;
    width: 1000px;
    margin:20px auto;
    padding:5px;

    font:bold;
    border:2px solid black;}

body{
    display:block;
    -webkit-box-pack:center;
}
#big_wrapper{
    -webkit-box-orient: vertical;
    -webkit-box-aling:center;
    width: 1000px;
    margin:20px auto;
    padding:5px;
    border:2px solid black;
 
}
#form_a{
    width:50px;
    margin:20px;
    border: 2px solid black;
    padding:5px;
    background:solid rgb(4, 4, 75);
}
section{
   
    padding:10px;
    font:bold 20px;
   -webkit-box-orient: vertical;
   -webkit-box-align: center;
   margin:2px solid black;
}
#password{
    -webkit-box-orient:vertical;
    
    padding:10px;
    -webkit-box-align: center;
}
#name{
    -webkit-box-orient:vertical;
    -webkit-box-align: center;
}

#submit_box{
    -webkit-box-align: center;
}

